auto lo
iface lo inet loopback

auto eth0
iface eth0 inet static
    address 10.10.0.52
    netmask 255.255.255.0
    gateway 10.10.0.10
    mtu 1466
    # In Alpine, without openresolv installed, the standard way 
    # to enforce static DNS during interface up is to write to resolv.conf
    up echo 'nameserver 140.112.30.21' > /etc/resolv.conf
    up echo 'nameserver 8.8.8.8' >> /etc/resolv.conf
